@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Bebas+Neue&family=Poppins:wght@400;500;600&family=Vampiro+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #8F82C2;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 0.87em;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
    width: 35%;
    padding-right: 200px;
    gap: 20px;
    white-space: nowrap
}

nav a img {
    width: 206.85px;
    height: 25px;
    padding-left: 170px;
}

header {
    background: linear-gradient(to bottom, #ec9cee, #a493e6);
    height: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div {
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 15px;
}

header h2 {
    font-size: 1.15em;
    color: #0e5198;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 30px;
}

button {
    color: #fff;
    background-color: #ec9cee;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.256);
    width: 145px;
    height: 46px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f2c8f3;
}

.svg-header {
    background-image: url(imagens/teste.svg);
    height: 150px;
    transform: scaleY(-1) scaleX(-1);
    margin-top: -130px;
}

#quemsou {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quemsou p {
    width: 370px;
    text-align: justify;
    padding-left: 10px;
    font-size: 1.05em;
}

#quemsou img {
    width: 100px;
    padding-right: 10px;
}

#passatempos {
    background-color: #f2c8f3;
    text-align: center;
}


#passatempos h2 {
    font-family: 'Bebas Neue', cursive;
    color: #9D75B5;
    font-size: 2.5em;
    margin-top: -100px;
    margin-bottom: 15px;
}

#passatempos h5 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}


.passatempos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.passatempo {
    background-color: #a493e6;
    width: 350px;
    height: 300px;
    border-radius: 30px;
}

.passatempo:hover {
    background-color: #9D75B5;
}

.passatempo img {
    margin-top: 30px;
    width: 50px;
}

.notebook {
    margin-bottom: 10px;
}

.passatempo p {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.5;
    padding: 0 20px;
}

.filmes-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
}

.filmes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.princesa, .encanto {
    height: 290px;
}

.moana {
    height: 420px;
}

.filmes p {
    color: gray;
    font-style: italic;
    font-size: 0.9em;
}

.filmes-texto {
    width: 37%;
    z-index: 1;
}

.filmes-texto h1 {
    font-size: 2em;
    padding-bottom: 15px;
}

.filmes-texto p {
    font-size: 1.2em;
    text-align: justify;
}

.svg-passatempos {
    background-image: url(imagens/passatempos.svg);
    height: 150px;
}

.passatempo-svg-bottom {
    background-image: url(imagens/passatempos.svg);
    height: 150px;
    transform: scaley(-1);
    margin-top: -140px;
    background-color: #f2c8f3;

}

#curiosidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#curiosidade div {
    width: 520px;
}

#curiosidade div h2 {
    font-family: 'Bebas Neue', cursive;
    color: #9D75B5;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
}

#curiosidade div p {
    text-align: justify;
    line-height: 1.5;
    
}

#curiosidade img {
    width: 257px;
    padding-right: 10px;
    border-radius: 50px;
}

#formacao {
    margin: 50px 0;
}

#formacao h2{
    font-family: 'Bebas Neue', cursive;
    color: #9D75B5;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
}

.formacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.formacao-item {
    background-color: #9D75B5;
    padding: 30px 30px;
    color: #fff;
    text-align: center;
    border-radius: 70px;
}

.formacao-item:hover {
    background-color: #8F82C2;
}

.formacao-item h5 {
    font-size: 1.05em;
    font-weight: bold;
}

.svg-contato-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.svg-contato {
    background-image: url(imagens/serra.svg);
    height: 20px;
    width: 350%;
}

#contato {
    background-color: #f2c8f3;
}

#contato h2 {
    font-family: 'Bebas Neue', cursive;
    color: #9D75B5;
    font-size: 2.5em;
    text-align: center;
    padding-top: 20px;
}

.contato-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contato-item {
    width: 360px;
    text-align: center;
}

.contato-item h5 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.logo {
    font-family: 'Vampiro One', cursive;
}

nav .logo {
    color: #fff;
    margin-left: 50px;
    font-size: 28px;
}

#contato .logo {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 1300px) {
    .princesa, .encanto, .moana {
        height: 250px;
    }
    
    .filmes p {
        font-size: 0.5em;
    }
    
    .filmes-texto h1 {
        font-size: 1.4em;
    }
    
    .filmes-texto p {
        font-size: 1em;
    }
    
    #passatempos h5 {
        font-size: 1em;
    }
    
    .passatempo {
        width: 30%;
        height: 300px;
        padding-bottom: 30px;
    }
}

@media (max-width: 960px) {

    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav ul li a {
        font-size: 0.7em;
    }

    nav ul {
        padding: 0;
    }

    #quemsou p {
        width: 40%;
    }

    .passatempos-container {
        flex-direction: column;
    }

    .passatempo {
        width: 70%;
    }

    .filmes-container {
        flex-direction: column;
    }

    .filmes {
        gap: 5px;
    }

    .princesa, .encanto, .moana {
        height: 150px;
    }

    .filmes-texto {
        width: 90%;
        z-index: 1;
    }

    .passatempo-svg-bottom {
        margin-top: 0px;
    }

    #curiosidade div {
        width: 40%;
    }

    #curiosidade img {
        width: 200px;
    }

    .formacao-container {
        flex-direction: column;
    }

    .formacao-item {
        width: 70%;
    }

    .svg-contato {
        width: 700%;
    }

    .contato-container {
        flex-direction: column;
    }

    .contato-item h5 {
        font-size: 1.3em;
    }
}